[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "jslint"]
	path = bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/json"]
	path = bundle/json
	url = https://github.com/leshill/vim-json.git
[submodule "bundle/qfixtoggle"]
	path = bundle/qfixtoggle
	url = https://github.com/vim-scripts/QFixToggle.git
