[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/AndrewRadev/vim-coffee-script.git
[submodule "bundle/json"]
	path = bundle/json
	url = https://github.com/leshill/vim-json.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/splitjoin"]
	path = bundle/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "bundle/cmdline-completion"]
	path = bundle/cmdline-completion
	url = https://github.com/vim-scripts/cmdline-completion.git
[submodule "bundle/camel-case-motion"]
	path = bundle/camel-case-motion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "bundle/a"]
	path = bundle/a
	url = https://github.com/ichernev/a.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/visual-star-search"]
	path = bundle/visual-star-search
	url = git://github.com/bronson/vim-visual-star-search.git
[submodule "bundle/jshint"]
	path = bundle/jshint
	url = git://github.com/walm/jshint.vim.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/csv"]
	path = bundle/csv
	url = git://github.com/chrisbra/csv.vim.git
[submodule "bundle/pep8-indent"]
	path = bundle/pep8-indent
	url = git://github.com/hynek/vim-python-pep8-indent.git
