[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/AndrewRadev/vim-coffee-script.git
[submodule "bundle/json"]
	path = bundle/json
	url = https://github.com/leshill/vim-json.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/AndrewRadev/vim-unimpaired.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/splitjoin"]
	path = bundle/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/cmdline-completion"]
	path = bundle/cmdline-completion
	url = https://github.com/vim-scripts/cmdline-completion.git
[submodule "bundle/camel-case-motion"]
	path = bundle/camel-case-motion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "bundle/a"]
	path = bundle/a
	url = https://github.com/ichernev/a.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
